@font-face {
    font-family: 'Blood Crow';
    src: url("./fonts/BloodCrow.ttf") format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /*overflow-x: hidden;*/
}

body {
    font-family: 'Blood Crow', cursive;
    background-color: #292929;
    color: #dddddd;
}

a {
    color: rgb(200, 0, 0);
}

a:hover {
    color: orange;
}

div#home {
    padding-top: 8vh;
}

nav {
    z-index: 2;
    background: url("./images/MuzanEyes.PNG") center no-repeat;
    width: 98.8vw;
    height: 8vh;
    position: fixed;
    padding: 0px 10px;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > div {
    display: flex;
    gap: 20px;
}

nav > div > img {
    width: 100px;
    height: 80px;
}

header {
    background-color: #222222;
}

header > div#home {
    font-size: 2.5em;
    color: #ffffff;
    display: flex;
    align-items: center;
}

header > div > img.Akaza {
    z-index: 1;
    width: 400px;
    height: 500px;
    position: relative;
    top: 100px;
    left: 300px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

header > div > img.Rengoku {
    z-index: 3;
    width: 600px;
    height: 700px;
    position: relative;
    top: 50px;
    left: -400px;
    filter: drop-shadow(-15px 20px 4px rgba(0, 0, 0, 0.5));
}

main {
    padding-top: 50px;
}

main > div#summary {
    text-align: center;
    padding: 0px 20px 50px 20px;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

main > div#summary > p {
    font-size: 1.5rem;
}

main > div#characters {
    text-align: center;
}

main > div#characters > div > h3 {
    font-size: 2.2rem;
    margin: 20px 0px;
}

main > div#characters > div > div {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

main > div#characters > div > div > div > h4 {
    font-size: 1.8rem;
    margin: 10px 0px;
}

main > div#characters > div > div > div > p {
    font-size: 1.4rem;
    margin-bottom: 15px;
}

main > div#characters > div > div > img {
    filter: drop-shadow(-15px 20px 4px rgba(0, 0, 0, 0.5));
}

footer {
    background-color: #222222;
    text-align: center;
    padding: 20px 10px;
    font-size: 1.2rem;
}
