@font-face {
    font-family: 'Blood Crow';
    src: url("./fonts/BloodCrow.ttf") format('truetype');
}

:root {
    --high-contrast-background-main: #cecece;
    --high-contrast-text-main: #000000;
    --high-contrast-background-FooterHeader: #b8b8b8;
    --high-contrast-text-FooterHeader: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Blood Crow', cursive;
    background-color: #292929;
    color: #dddddd;
}

a {
    color: rgb(200, 0, 0);
}

a:hover {
    color: orange;
}

div#home {
    padding-top: 8vh;
}

nav {
    z-index: 2;
    background: url("./images/MuzanEyes.PNG") center/cover no-repeat;
    width: 98.8vw;
    height: 8vh;
    position: fixed;
    padding: 0px 10px;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > div {
    display: flex;
    gap: 20px;
}

nav > div > img {
    width: 100px;
    height: 80px;
}

header {
    background-color: #222222;
}

header > div#home {
    font-size: 3em;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
}

header > div#home > div {
    position: relative;
    width: 50%;
    height: 100%;
}

img.Akaza {
    z-index: 1;
    width: 400px;
    height: 500px;
    position: absolute;
    top: 185px;
    left: 200px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

img.Rengoku {
    z-index: 3;
    width: 600px;
    height: 700px;
    position: absolute;
    top: 30px;
    left: -200px;
    filter: drop-shadow(-15px 20px 4px rgba(0, 0, 0, 0.5));
}

main {
    padding-top: 50px;
}

main > div#summary {
    text-align: center;
    padding: 0px 20px 50px 20px;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

main > div#summary > p {
    font-size: 1.5rem;
}

main > div#characters {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > div#characters > div > h3 {
    font-size: 2.2rem;
    margin: 20px 0px;
}

main > div#characters > div > div {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

main > div#characters > div > div > div > h4 {
    font-size: 1.8rem;
    margin: 10px 0px;
}

main > div#characters > div > div > div > p {
    font-size: 1.4rem;
    margin-bottom: 15px;
}

main > div#characters > div > div > img {
    filter: drop-shadow(-15px 20px 4px rgba(0, 0, 0, 0.5));
}

footer {
    background-color: #222222;
    text-align: center;
    padding: 20px 10px;
    font-size: 1.2rem;
}

div#acessibilidade > button, div#opcoes-acessibilidade > button {
    background-color: rgb(53, 90, 255);
    border-radius: 10px;
    border: none;
    padding: 20px;
}

div#acessibilidade > button {
    cursor: pointer;
    width: max-content;
    height: max-content;
    align-self: center;
    text-transform: uppercase;
    font-weight: bolder;
    color: #ffffff;
}

.menu-acessibilidade{
    position: fixed;
    top: 4rem;
    right: 40px;
    z-index: 1000;
}

.rotacao-botao{
    transform: rotate(-90deg);
    transform-origin: right center;
}

.opcoes-acessibilidade{
    margin-top:10px;
    display: flex;
    flex-direction: column;
}

.opcoes-acessibilidade button{
    margin-bottom: 5px;
}

.apresenta-lista{
    display: none;
}

.alto-contraste {
    background-color: var(--high-contrast-background-main);
    color: var(--high-contrast-text-main);
}

.alto-contraste header, .alto-contraste footer {
    background-color: var(--high-contrast-background-FooterHeader);
    color: var(--high-contrast-text-FooterHeader);
}

.alto-contraste .btn-primary{
    background-color: var(--alto-contraste-link);
    color: var(--alto-contraste-fundo)
}

@media (max-width: 1023px) {
    header > div#home > div {
        display: none;
    }
}

@media (max-width: 1440px) {
    header > div#home > div {
        img.Akaza {
            width: 200px;
            height: 300px;
            top: 100px;
            left: 100px;
        }
        
        img.Rengoku {
            width: 300px;
            height: 400px;
        }
    }
}